global:
  cleanup:
    deployments: false
    statefulsets: false
    ingress: false
    pods: false
    jobs: false
    persistentVolumeClaims: false
  service:
    type: &serviceType "NodePort"
  crd:
    enabled: &globalCrd true
  registry:
    url: 192.168.49.2:30150
    username: ""
    password: ""
    email: ""
    secretName: ""
  basicAuth:
    enabled: false
    username: ""
    password: ""
    secretName: ""
  nuclio:
    dashboard:
      nodePort: 30050
  minio:
    rootUser: &minioRootUser minio
    rootPassword: &minioRootPassword minio123
    digitalhubUser: &digitalhubUser digitalhub
    digitalhubPassword: &digitalhubPassword digitalhub
    endpoint: &minioEndpoint "minio"
    endpointPort: &minioEndpointPort "9000"
    bucket: &minioBucket "datalake"
    protocol: &minioProtocol "http"
  externalHostAddress: &globalExternalUrl "192.168.49.2"
  externalTls: false
  securityContext:
    runAsNonRoot: true
    allowPrivilegeEscalation: false
    capabilities:
      drop:
      - ALL

docker-registry:
  enabled: true
  fullnameOverride: digitalhub-docker-registry
  className: nginx
  service:
    type: *serviceType
    nodePort: 30150
  ingress:
    enabled: false
    path: /
    hosts:
      - registry.digitalhub.test
  persistence:
    accessMode: 'ReadWriteOnce'
    enabled: true
    size: 128Gi
  updateStrategy:
    type: Recreate

mlrun-ce:
  enabled: true
  nuclio:
    crd:
      create: *globalCrd
    dashboard:
      kaniko:
        insecurePushRegistry: true
        insecurePullRegistry: true
      ingress:
        enabled: false
  mlrun:
    api:
      image:
        tag: 1.6.2-rc1
    ui:
      image:
        tag: 1.6.2-rc1
      ingress:
        enabled: false
    db:
      enabled: true
      image:
        repository: mysql
        tag: 8.0.35
    httpDB:
      dbType: "mysql"
      secretDsn:
        name: ""
        key: ""
    modelMonitoring:
      secretDsn:
        name: ""
  jupyterNotebook:
    enabled: false
    image:
      tag: 1.6.2-rc1
  minio:
    enabled: false
    mode: standalone
    rootUser: *digitalhubUser
    rootPassword: *digitalhubPassword
    replicas: 1
    ingress:
      enabled: false
    persistence:
      enabled: true
      size: 128Gi
    buckets:
      - name: datalake
        policy: none
        purge: false
  pipelines:
    enabled: true
    crd:
      create: *globalCrd
    priority_class:
      enabled: true
    name: pipelines
    persistence:
      enabled: true
      existingClaim:
      storageClass:
      accessMode: "ReadWriteOnce"
      size: "20Gi"
    db:
      username: root
    ui:
      ingress:
        enabled: false
      service:
        type: *serviceType
        nodePort: 30100
    minio:
      enabled: true
      accessKey: *digitalhubUser
      secretKey: *digitalhubPassword
      endpoint: *minioEndpoint
      endpointPort: *minioEndpointPort
      bucket: *minioBucket
      protocol: *minioProtocol
  kube-prometheus-stack:
    enabled: false
  mpi-operator:
    crd:
      create: *globalCrd

coder:
  enabled: true
  username: test
  password: Test12456@!
  email: test@digitalhub.test
  template:
    upgrade:
      enabled: false
      token: ""
    customTemplates:
      - name: jupyter
        nodePort: "30040"
        iconUrl: https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Jupyter_logo.svg/1200px-Jupyter_logo.svg.png
        image: "ghcr.io/scc-digitalhub/jupyter-3-10:0.6.1"
        image39: "ghcr.io/scc-digitalhub/jupyter-3-9:0.6.1"
        image311: "ghcr.io/scc-digitalhub/jupyter-3-11:0.6.1"
        privileged: false
      - name: dremio
        nodePort: "30120"
        iconUrl: https://cdn.icon-icons.com/icons2/2699/PNG/512/dremio_logo_icon_168234.png
        image: "dremio/dremio-oss:24.1.0"
      - name: sqlpad
        nodePort: "30140"
        iconUrl: https://i.ibb.co/TrBDsZM/sqlpad.png
        image: "smartcommunitylab/sqlpad:nonroot"
      - name: grafana
        nodePort: "30130"
        iconUrl: https://cdn.icon-icons.com/icons2/2699/PNG/512/grafana_logo_icon_171048.png
        image: "smartcommunitylab/grafana"
      - name: vscode
        nodePort: "30190"
        iconUrl: https://user-images.githubusercontent.com/29654835/27530003-e78876b8-5a13-11e7-8863-83fbdb900f72.png
        image: "codercom/enterprise-base:ubuntu"
  coder:
    image:
      tag: v2.12.0
    env:
      - name: CODER_TELEMETRY
        value: "false"
      - name: CODER_PG_USERNAME
        valueFrom:
          secretKeyRef:
            name: coder.coder-postgres-cluster.credentials.postgresql.acid.zalan.do
            key: username
      - name: CODER_PG_PASSWORD
        valueFrom:
          secretKeyRef:
            name: coder.coder-postgres-cluster.credentials.postgresql.acid.zalan.do
            key: password
      - name: CODER_PG_CONNECTION_URL
        value: "postgres://$(CODER_PG_USERNAME):$(CODER_PG_PASSWORD)@coder-postgres-cluster:5432/coder"
    ingress:
      enable: false
    service:
      type: *serviceType
      httpNodePort: "30170"

postgres-operator:
  enabled: true
  databases:
    digitalhub:
      enabled: true
      volume:
        size: 8Gi
      resources:
        requests:
          cpu: 512m
          memory: 1000Mi
        limits:
          cpu: "2"
          memory: 2Gi
    core:
      enabled: true
      volume:
        size: 8Gi
      resources:
        requests:
          cpu: 512m
          memory: 1000Mi
        limits:
          cpu: "2"
          memory: 2Gi
    coder:
      enabled: true
      volume:
        size: 8Gi
      resources:
        requests:
          cpu: 512m
          memory: 1000Mi
        limits:
          cpu: "2"
          memory: 2Gi

ext-postgres-operator:
  enabled: true
  postgres:
    host: database-postgres-cluster
    user: ""
    password: ""
    uri_args: " "
    cloud_provider: ""
    default_database: "postgres"
  postgresCredsExistingSecrets:
    username:
      secretName: "digitalhubadmin.database-postgres-cluster.credentials.postgresql.acid.zalan.do"
      secretKey: "username"
    password:
      secretName: "digitalhubadmin.database-postgres-cluster.credentials.postgresql.acid.zalan.do"
      secretKey: "password"

postgrest-operator:
  enabled: true
  postgres:
    host: database-postgres-cluster
    port: 5432
    uri_args: "sslmode=disable"
    default_database: "digitalhub"
    postgrest_service_type: NodePort
  postgresCredsExistingSecrets:
    username:
      secretName: "digitalhub-owner-user.database-postgres-cluster.credentials.postgresql.acid.zalan.do"
      secretKey: "username"
    password:
      secretName: "digitalhub-owner-user.database-postgres-cluster.credentials.postgresql.acid.zalan.do"
      secretKey: "password"

core:
  enabled: true
  minio:
    endpoint: *minioEndpoint
    endpointPort: *minioEndpointPort
    bucket: *minioBucket
    protocol: *minioProtocol
  service:
    type: *serviceType
    httpNodePort: "30180"
  postgres:
    host: database-postgres-cluster
    database: digitalhub
    port: "5432"
    schema: public
  config:
    rootUser: minio
    rootPassword: minio123
  krm:
    port: "8080"
  kfp:
    endpoint: "http://ml-pipeline:8888"
  authentication:
    openId:
      enabled: false
  events:
    enabled: false
    rabbitmq:
      enabled: false
      host: "digitalhub-rabbitmq"
      port: "5672"
      vhost: "/"
      queue: "dhCoreQueue"
      topic: "entityTopic"
      routingKey: "entityRoutingKey"
      credentials:
        existingSecret:
          name: "digitalhub-rabbitmq-default-user"
          usernameKey: "username"
          passwordKey: "password"
  solr:
    enabled: true
    url: "http://digitalhub-solrcloud-common/solr"
    collection:
      name: "dhcore"
      initialize:
        enabled: true
        image: smartcommunitylab/k8s-ansible:1.30.0-1.7.0-nonroot
  testSuite: "==0.6.0"

kubernetes-resource-manager:
  enabled: true
  service:
    type: *serviceType
    httpNodePort: "30220"

dremio-rest-server-operator:
  enabled: true

apigw-operator:
  enabled: true

jobs:
  delete:
    securityContext:
      readOnlyRootFilesystem: true

nakamasato-mysql-operator:
  enabled: false

mysql-operator:
  enabled: false

template-controller:
  enabled: true
  objectTemplate:
    enabled: true

oauth2-proxy:
  enabled: false
  apps:
    - name: ""
      description: ""
      service:
        name: ""
        port: ""
      ingress:
        enabled: false
        annotations: {}
        ingressClassName: ""
        hosts: []
        path: /
        tls: []
      redirectUrl: ""
      oidcIssuerUrl: ""
      existingSecret:
        name: ""
        clientId: ""
        secretKey: ""

dashboard:
  replicaCount: 1
  image:
    repository: ghcr.io/scc-digitalhub/dh-dashboard
    pullPolicy: IfNotPresent
    tag: "0.1.0"
  imagePullSecrets: []
  nameOverride: ""
  fullnameOverride: ""
  serviceAccount:
    create: true
    automount: true
    annotations: {}
    name: "digitalhub-dashboard"
  podAnnotations: {}
  podLabels: {}
  podSecurityContext:
    runAsUser: 65532
    fsGroup: 65532
  securityContext:
    runAsUser: 65532
    allowPrivilegeEscalation: false
    runAsNonRoot: true
    capabilities:
      drop:
        - ALL
  service:
    type: *serviceType
    port: "8080"
    httpNodePort: "30110"
  ingress:
    enabled: false
    className: ""
    annotations: {}
    hosts:
      - host: ""
        paths:
          - pathType: ImplementationSpecific
            path: /
    tls:
    - secretName: ""
      hosts:
        - ""
  resources:
    limits:
      cpu: 1000m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
  volumes:
  nodeSelector: {}
  tolerations: []
  affinity: {}
  oidc:
    enabled: false
    audience:
      clientId: ""
      externalSecret:
        name: ""
        key: ""
    config:
      issuer: ""
  additional-components:
    enabled: false
    apps:
      - name: ""
        description: ""
        service:
          name: ""
          port: ""
        ingress:
          enabled: false
          annotations: {}
          ingressClassName: ""
          hosts: []
          path: /
          tls: []
        redirectUrl: ""
        oidcIssuerUrl: ""
        existingSecret:
          name: ""
          clientId: ""
          secretKey: ""

solr-operator:
  enabled: true
  zookeeper-operator:
    crd:
      create: true

solr:
  enabled: true
  replicas: 1
  fullnameOverride: digitalhub

minio:
  enabled: true
  rootUser: *minioRootUser
  rootPassword: *minioRootPassword
  mode: standalone
  replicas: 1
  ingress:
    enabled: false
  persistence:
    enabled: true
    size: 128Gi
  buckets:
    - name: datalake
      policy: none
      purge: false
  resources:
    requests:
      memory: 0.5Gi
  service:
    type: *serviceType
    port: 9000
    nodePort: 30080
  consoleService:
    type: *serviceType
    port: 9001
    nodePort: 30090
  fullnameOverride: minio
  oidc:
    enabled: false
    configUrl: ""
    clientId: ""
    clientSecret: ""
    # Provide existing client secret from the Kubernetes Secret resource, existing secret will have priority over `clientId` and/or `clientSecret``
    existingClientSecretName: ""
    existingClientIdKey: ""
    existingClientSecretKey: ""
    claimName: ""
    scopes: ""
    redirectUri: ""
    # Can leave empty
    claimPrefix: ""
    comment: ""
    displayName: ""
  deploymentUpdate:
    type: Recreate
  users:
    - accessKey: *digitalhubUser
      secretKey: *digitalhubPassword
      policy: readwritedigitalhub
  policies:
    - name: readwritedigitalhub
      statements:
        - effect: Allow
          resources:
            - 'arn:aws:s3:::datalake/*'
          actions:
            - "s3:*"

minio-operator:
  enabled: true
  minio:
    accessKey: *minioRootUser
    secretKey: *minioRootPassword
    endpoint: *minioEndpoint
    endpointPort: *minioEndpointPort
    bucket: *minioBucket
    protocol: *minioProtocol
